* {
    margin: 0;
}

.art {
    background-color: rgba(244, 82, 59, 1);
    padding: 150px;
    position: fixed;
    rotate: 45deg;
    translate: -160px -160px;
}

.container {
    background-color: rgba(250, 114, 73, 1);
    min-width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
}

.top {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: flex-end;
    margin-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.header .name {
    padding: 10px;
    letter-spacing: 1.5px;
}

.sprite {
    margin-left: 100px;
}

.info .sprite a .img {
    max-width: 50%;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #fff;
    margin: 30px 50px 30px 110px;
    padding: 20px;
}

.classification {
    text-align: center;
    background-color: rgba(219, 219, 217, 1);
}

.info {
    display: flex;
}

.classification {
    margin-bottom: 5px;
}

.info .desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(219, 219, 217, 1);
}